@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-slate-100 text-slate-900;
}

#root {
  min-height: 100vh;
}
